{% extends 'base.html' %}
{% block head %}
<title>Checkout | Nexlaptop</title>
{% endblock %}

{% block main %}
<main>
    <div class="container my-4">
        <h1>Checkout</h1>
        <p>* are required fields</p>
        <form action="{{ url_for('main.checkout') }}" method="post" class="mb-4">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.first_name.label }}* {{ form.first_name(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.last_name.label }}* {{ form.last_name(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.address.label }}* {{ form.address(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.email.label }}* {{ form.email(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.phone.label }}* {{ form.phone(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.submit(class_='btn btn-warning') }}
            </div>
        </form>
    </div>
</main>
{% endblock %}
