{% extends 'base.html' %}
{% block head %}
<title>Lenovo ThinkPad X1 Carbon Gen 12 14" | Nexlaptop</title>
{% endblock %}

{% block main %}
<main class="bg-ivory">
    <div class="py-4">
        <div class="container mx-auto">
            <div class="row">
                <div class="col-md-4">
                    <img class="d-block w-100" src="./img/001/1.1.png">
                </div>
                <div class="col-md-8">
                    <h3>Lenovo ThinkPad X1 Carbon Gen 12 14"</h3>
                    <h5>Your Favourite Laptop. Now With Lots More to Love.</h5>
                    <ul>
                        <li>Brand: Lenovo</li>
                        <li>CPU: Intel® Core™ Ultra 5 125U</li>
                        <li>GPU: Integrated Intel Arc™Graphics</li>
                        <li>Screen Size: 14"</li>
                        <li>Memory: 32GB</li>
                        <li>Storage: 2TB</li>
                        <li>Operating System: Windows 11</li>
                        <li>Use Case: Business</li>
                    </ul>
                    <div class="row d-flex align-items-center pl-5">
                        <div class="col">
                            <h6>$2484.46</h6>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-warning">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container my-5"></div>
        <div class="container">
            <h4>Description</h4>
            <img class="d-block w-100" src="./img/001/description/1.1.jpg">
            <h6>How Do You Show Respect for the Planet?</h6>
            <p>The ThinkPad X1 Carbon Gen 12 laptop still uses carbon fibre for the chassis — but better yet some of
                that carbon fibre is recycled from post-industrial remnants and is used along with 90% recycled
                magnesium. Plus, the chassis, the battery pack, the speaker enclosure, and the power adaptor all
                include recycled post-consumer content. And we don’t stop there. The packaging is 100% plastic-free
                and comprised in part with rapid-renewable materials made from bamboo-sugar-cane fibre.</p>
        </div>
    </div>
</main>
{% endblock %}