{% extends 'base.html' %}
{% block head %}
<title>Nexlaptop</title>
{% endblock %}

{% block main %}
<main>
    <div class="jumbotron mt-0 mb-4">
        <h1 class="text-white">Nexlaptop</h1>
        <p class="text-white">Your next laptop awaits</p>
    </div>
    <div class="container-fluid py-4">
        <div class="row d-flex justify-content-center align-items-center mx-0 pb-4">
            <div class="col-auto">
                <h4>Choose Your Perfect Laptop!</h4>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for usecase in usecases %}
                <div class="col-md-4 pb-4">
                    <div class="card bg-ivory">
                        <a href="/products?usecase= {{ usecase.id }}">
                            <div class="card-img-top-container">
                                <img class="card-img-top" src="{{ url_for('static', filename='img/usecase/' ~ usecase.id ~ '/1.jpg') }}">
                            </div>
                        </a>
                        <div class="card-body">
                            <h6 class="card-title">For {{ usecase.name }}</h6>
                            <p class="card-text">{{ usecase.description }}</p>
                            <a href="/products?usecase= {{ usecase.id }}" class="btn btn-warning">View Products</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container-fluid pb-4">
        <div class="row d-flex justify-content-center align-items-center mx-0 pb-4">
            <div class="col-auto">
                <h4>Popular Products</h4>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for laptop in laptops %}
                <div class="col-md-4 mb-4">
                    <div class="card bg-ivory">
                        <a href="{{ url_for('main.viewProduct', productid=laptop.id) }}">
                            <div class="card-img-top-container product-card-img-top-container">
                                <img class="card-img-top product-card-img" src="{{ url_for('static', filename='img/product/' ~ laptop.id ~ '/1.jpeg') }}">
                            </div>
                        </a>
                        <div class="card-body">
                            <h6 class="card-title">{{ laptop.brand.name }} {{ laptop.model }} {{ laptop.screensize | formatScreensize }}"</h6>
                            <p class="card-text">${{ laptop.price }}</p>
                            <a href="{{ url_for('main.viewProduct', productid=laptop.id) }}" class="btn btn-warning">View Details</a>
                            <form action="{{ url_for('main.addToCart', product_id=laptop.id) }}" method="post" class="mt-2">
                                <input type="hidden" name="quantity" value="1">
                                <button type="submit" class="btn btn-success">Add to Cart</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
