body{
    height: 100vh;
}
.jumbotron{
    background-color: black;
    background-image: url("../img/background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-lemonchiffon{
    background-color: lemonchiffon;
}
.nav-link{
    color: black;
}
.bg-ivory{
    background-color: ivory;
}
.card-img-top-container {
    width: 100%;
    max-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: ivory;
}
.card-img-top {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.product-card-img-top-container {
    width: 100%;
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: ivory;
}
.product-card-img-top {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.background-container{
    flex: auto;
}
.vwrapper{
    display:flex;
    flex-direction: column;
    min-height: 100%;
}
.table-cart {
    border: none;
}
.table-cart thead th {
    border: none;
}
.table-cart td, .table-cart th {
    border-top: 1px solid #DEE2E6;
    border-bottom: 1px solid #DEE2E6;
}
.table-cart td:first-child, .table-cart th:first-child {
    border-right: none;
    border-left: none;
}
.table-cart td + td, .table-cart th + th {
    border-left: none;
    border-right: none;
}
.table-cart-container {
    border: none;
}
.btn-success{
    color: #212529
}
@media (max-width: 650px) {
    .table-cart {
        display: none;
    }
    .cart-card {
        display: block;
    }
}
@media (min-width: 650px) {
    .cart-card {
        display: none;
    }
}